---
const { alt, src } = Astro.props;
---

<div class="absolute inset-0 z-0 bg-gray-900">
  <img
    alt=""
    src={`https:${src}?w=10&h=10&fm=webp&q=10`}
    width={10}
    height={10}
    class="z-10 relative w-full object-cover h-64 opacity-80"
  />
</div>
<img
  src={`https:${src}?w=1200&h=1200&fm=webp&q=90`}
  width="1600"
  alt={alt}
  height="1600"
  class="z-10 relative object-cover h-64 glightbox w-full animate__animated animate__fadeIn"
/>
