---
// import { Image } from "astro:assets";
import { contentfulClient } from "../lib/contentful";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import Layout from "../layouts/Layout.astro";

const entries = await contentfulClient.getEntries({
    content_type: "about",
});

const item = entries.items.filter((user: any) => {
    return user.fields.slug === "inicio";
})[0];
---

<Layout title="Biografia">
    <!-- <CarouselHome images={homeSlider?.fields.images} /> -->
    <div class="grid max-w-2xl mx-auto mt-12 relative z-20 pt-6 px-2 md:px-6">
        {
            entries && (
                <div class="p-6 animate__animated animate__fadeIn">
                    <h1
                        style="text-wrap: balance;"
                        class="text-xl font-serif relative z-10"
                    >
                        {item?.fields.title}.
                    </h1>
                    <article
                        class="prose max-w-full mt-12"
                        set:html={documentToHtmlString(item.fields.aboutBio)}
                    />
                </div>
            )
        }
    </div>
</Layout>
