---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Intro">
  <div class="max-w-sm mx-auto mt-3">
    <img
      src="https://images.ctfassets.net/ag8zf27wpki1/4KQSyaoW2tAEJzf8ak0EZB/05bb8954aad7a9e9eb2572ae6465303c/autoretratos_32.jpg?w=600&q=90"
      class="w-full h-auto"
    />
  </div>
  <div class="flex flex-col items-center justify-center mt-3">
    <a
      href="/albums"
      class="inline-block px-4 py-2 text-sm font-bold text-gray-800 uppercase bg-white hover:bg-black shadow hover:text-white duration-300"
    >
      Ver portfolio personal
    </a>
  </div>
</Layout>
