---
import { contentfulClient } from "../lib/contentful";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import Layout from "../layouts/Layout.astro";
// import { Image } from "astro:assets";
import CarouselHome from "@/components/CarouselHome.astro";
import type { EntryFieldTypes } from "contentful";

interface About {
  contentTypeId: "about";
  fields: {
    title: EntryFieldTypes.Text;
    slug: string;
    aboutBio: EntryFieldTypes.RichText;
  };
}

const entries = await contentfulClient.getEntries<About>({
  content_type: "about",
});

const sliders = await contentfulClient.getEntries({ content_type: "sliders" });

const item = entries.items.filter((user) => {
  return user.fields.slug === "inicio";
})[0];

const homeSlider = sliders.items.filter((user) => {
  return user.fields.slug === "inicio";
})[0];
---

<Layout title="Intro">
  <CarouselHome images={homeSlider?.fields.images} />
  <!-- <div class="grid max-w-3xl mx-auto relative z-10">
    {
      item && (
        <div class="bg-black/30 backdrop-blur-lg p-6 -mt-32">
          <h2 style="text-wrap: balance;" class="text-5xl font-serif relative z-10">{item.fields.title}.</h2>
          <article
            class="prose prose-xl max-w-full mt-12 prose-invert"
            set:html={documentToHtmlString(item.fields.aboutBio)}
          />
        </div>
      )
    }
  </div> -->
</Layout>
