---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Print / Shop">
    <div
        class="relative z-50 w-full max-w-6xl gap-12 mx-auto min-h-[70vh] flex justify-center items-start"
    >
        <div class="mt-12">
            <h1 class="w-full text-2xl text-center text-gray-900">
                Print / Shop
            </h1>
        </div>
    </div>
</Layout>
