<footer class="flex justify-center items-center flex-col gap-12 py-24">
  <!-- <div class="flex justify-center items-center gap-12">
    <a>
      Licencia
    </a>
    <a>
      Contacto
    </a>
  </div> -->
  <div>
    © SolEtchegaray 2024 - Todos los derechos reservados
  </div>
</footer>