---
const pathname = new URL(Astro.request.url).pathname;
import NavigationTrabajos from "./NavigationTrabajos.vue";

---

<nav class="flex gap-6 items-center justify-end">
    <a
        href="/bio"
        class={`${
            pathname === "/bio"
                ? "active"
                : "" || pathname.includes("/bio")
                  ? "active"
                  : ""
        }`}
    >
        Bio
    </a>
    <a
        href="/albums"
        class={` ${
            pathname === "/albums"
                ? "active"
                : "" || pathname.includes("/albums")
                  ? "active"
                  : ""
        }`}
        >Portfolio personal
    </a>
   
    <a
        href="/trabajos-a-pedido"
        class={`${
            pathname === "/trabajos-a-pedido"
                ? "active"
                : "" || pathname.includes("/trabajos-a-pedido")
                  ? "active"
                  : ""
        }`}
    >
        Trabajos a pedido
    </a>
    <!-- <div class="hidden md:inline-flex">
        <NavigationTrabajos client:load/>
    </div> -->
    <a
        href="/shop"
        class={`${
            pathname === "/shop"
                ? "active"
                : "" || pathname.includes("/shop")
                  ? "active"
                  : ""
        }`}
    >
        Print/shop
    </a>
    <a
        href="/contact"
        class={`${
            pathname === "/contact"
                ? "active"
                : "" || pathname.includes("/contact")
                  ? "active"
                  : ""
        }`}
    >
        Contacto
    </a>
</nav>

<style>
    nav a {
        @apply border-b-4 border-transparent py-2.5;
    }

    nav a.active {
        @apply border-green-900;
    }
</style>
