---
import { contentfulClient } from "../../lib/contentful";
import Layout from "../../layouts/Layout.astro";
import Card2 from "../../components/Card2.astro";
import slugify from "../../lib/createSlug";

const works = await contentfulClient.getEntries({
  content_type: "works",
});

const categories: any = {
  Autorretratos: [],
  Bandas: [],
  Marcas: [],
  Cuerpas: [],
};

works.items.forEach((item: any) => {
  const title = item.fields.AlbumCategory.fields.title;
  if (title) {
    if (title.includes("Autorretratos")) {
      categories.Autorretratos.push(item);
    }
    if (title.includes("Bandas") && item.fields.destacar) {
      categories.Bandas.push(item);
    }
    if (title.includes("Marcas") && item.fields.destacar) {
      categories.Marcas.push(item);
    }
    if (title.includes("Cuerpas") && item.fields.destacar) {
      categories.Cuerpas.push(item);
    }
  }
});

Object.keys(categories).forEach((category) => {
  categories[category] = categories[category].slice(0, 2);
});

const albumCategories = [
  ...new Set(works.items.map((entry) => entry.fields.AlbumCategory)),
];

---

<Layout title="Intro">
  <div class="w-full max-w-4xl px-2 md:px-6 mt-12  mx-auto">
    {
      albumCategories.map((category: any) => {
        const items = works.items
          .filter((item: any) => {
            const title = item.fields.AlbumCategory.fields.title;
            return title && title.includes(category.fields.title);
          })
          .slice(0, 2); // Limit to the first  2 items

        return (
          <div class="grid gap-3 mb-20 animate__animated animate__fadeIn">
            <div class="flex justify-between items-center mb-3">
              <h2 class="text-3xl">{category.fields.title}</h2>
              <a
                class="inline-block ml-3 text-base tracking-wider text-yellow-700 uppercase duration-500 border-b border-yellow-700 md:ml-3"
                href={`/albums/${slugify(category.fields.slug)}`}
              >
                Ver albums
              </a>
            </div>
            <div class="grid grid-cols-2 gap-1">
              {items.map((item) => (
                <Card2 data={item.fields} />
              ))}
            </div>
          </div>
        );
      })
    }
  </div>
</Layout>
