---
import "@/styles/animate.css";
import "@/styles/swiper.css";
import "@fontsource-variable/playfair-display";
import "glightbox/dist/css/glightbox.min.css";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Seo from "../components/seo.astro";
import Navigation from "../components/Navigation.astro";
import Offcanvas from "../components/Offcanvas.vue";
import GoogleFont from "./GoogleFont.astro";

interface Props {
	title: string;
	description?: string;
	image?: string;
}

const {
	title,
	description,
	image = "https://images.ctfassets.net/ag8zf27wpki1/3YnXtUshfzHhluRwQxtPY3/53a3e31b7c8b45f9d34899cdec2675e0/social-sol-etchegaray.png",
} = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <Seo
      title={` ${title ? `${title}` : ""} | Sol Etchegaray`}
      description={`${
        description
          ? `${description}`
          : " La naturalización del cuerpo desnudo"
      }`}
      image={image}
    />
    <GoogleFont />
  </head>
  <body class="pt-12">
    <div class="cursor-wrapper">
      <div class="custom-cursor custom-cursor__outer">
        <div class="custom-cursor custom-cursor__inner"></div>
      </div>
    </div>
    <Header />
    <Offcanvas client:load>
      <Navigation />
    </Offcanvas>
    <main class="relative z-10 px-2 md:px-0">
      <slot />
    </main>
    <Footer />
    <script
      is:inline
      src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"
    ></script>
    <script>
      // @ts-ignore
      import GLightbox from "glightbox";
      document.addEventListener("DOMContentLoaded", () => {
        const glightbox = GLightbox({
          /* options */
        });
      });
    </script>
     <script>
      const show_alert = "1";

      document.addEventListener('contextmenu', event => {
        if (show_alert) {
            alert('El boton derecho está desabilitado.');
        }
        event.preventDefault()
      });
      document.onkeydown = function (e) {
        // disable F12 key
        if(e.keyCode == 123) {
          return false;
        }
        var ctrlOrMeta = e.ctrlKey || e.metaKey;

        // disable I key
        if(ctrlOrMeta && e.shiftKey && e.keyCode == 73){
          return false;
        }

        // disable J key
        if(ctrlOrMeta && e.shiftKey && e.keyCode == 74) {
          return false;
        }

        // disable P key
        if(ctrlOrMeta && e.keyCode == 80) {
          return false;
        }

        // disable S key
        if(ctrlOrMeta && e.keyCode == 83) {
          return false;
        }

        // disable U key
        if(ctrlOrMeta && e.keyCode == 85) {
          return false;
        }

        // disable D key
        if((ctrlOrMeta && e.keyCode == 68) || (e.altKey && e.keyCode == 68)) {
          return false;
        }

        // disable F key
        if(ctrlOrMeta && e.keyCode == 70) {
          return false;
        }

        // disable G key
        if(ctrlOrMeta && e.keyCode == 71) {
          return false;
        }

        // disable F3 key
        if (e.keyCode == 114) {
            return false;
        }

        // disable shift + F3 key
        if (e.shiftKey && e.keyCode == 114) {
            return false;
        }

        if(ctrlOrMeta && e.shiftKey && e.keyCode == 71) {
            return false;
        }
      }
    </script>
    <style is:global>
      html {
        @apply font-serif bg-green-200 text-gray-900;
      }
      .gslide-description {
        @apply hidden;
      }

      body {
        --sb-track-color: #bbf7d0;
        --sb-thumb-color: #14532d;
        --sb-size: 10px;
      }

      body::-webkit-scrollbar {
        width: var(--sb-size);
      }

      body::-webkit-scrollbar-track {
        background: var(--sb-track-color);
        border-radius: 10px;
      }

      body::-webkit-scrollbar-thumb {
        background: var(--sb-thumb-color);
        border-radius: 10px;
      }

      @supports not selector(::-webkit-scrollbar) {
        body {
          scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
        }
      }

      .item:nth-child(1) {
        animation-delay: 0.3s;
      }
      .item:nth-child(2) {
        animation-delay: 0.6s;
      }
      .item:nth-child(3) {
        animation-delay: 0.9s;
      }
      .item:nth-child(4) {
        animation-delay: 1.2s;
      }
      .item:nth-child(5) {
        animation-delay: 1.5s;
      }
      .item:nth-child(6) {
        animation-delay: 1.8s;
      }
      .item:nth-child(7) {
        animation-delay: 2.1s;
      }
    </style>
  </body>
</html>
