---
import "@/styles/animate.css";
import "@/styles/swiper.css";
import "@fontsource-variable/playfair-display";
import "glightbox/dist/css/glightbox.min.css";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Navigation from "../components/Navigation.astro";
import Offcanvas from "../components/Offcanvas.vue";
import GoogleFont from "./GoogleFont.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="view-transition" content="same-origin" />
    <GoogleFont />
  </head>
  <body class="pt-12">
    <div class="cursor-wrapper">
      <div class="custom-cursor custom-cursor__outer">
        <div class="custom-cursor custom-cursor__inner"></div>
      </div>
    </div>
    <Header />
    <Offcanvas client:load>
      <Navigation />
    </Offcanvas>
    <main class="relative z-10 px-2 md:px-0">
      <slot />
    </main>

    <Footer />
    <script
      is:inline
      src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"
    ></script>
    <script>
      // @ts-ignore
      import GLightbox from "glightbox";
      document.addEventListener("DOMContentLoaded", () => {
        const glightbox = GLightbox({
          /* options */
        });
      });
    </script>
    <style is:global>
      html {
        @apply font-serif bg-green-200 text-gray-900;
      }
      .gslide-description {
        @apply hidden;
      }

      body {
        --sb-track-color: #bbf7d0;
        --sb-thumb-color: #14532d;
        --sb-size: 10px;
      }

      body::-webkit-scrollbar {
        width: var(--sb-size);
      }

      body::-webkit-scrollbar-track {
        background: var(--sb-track-color);
        border-radius: 10px;
      }

      body::-webkit-scrollbar-thumb {
        background: var(--sb-thumb-color);
        border-radius: 10px;
      }

      @supports not selector(::-webkit-scrollbar) {
        body {
          scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
        }
      }
    </style>
    
  </body>
</html>
